<?xml version='1.0' encoding='utf-8'?>
<widget id="com.havenn.studyspace" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Havenn</name>
    <description>Havenn — Study space management</description>
    <author email="dev@havenn.in" href="https://havenn.in">Lumenbyte Softwares</author>
    <content src="https://havenn.onrender.com/" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="android-minSdkVersion" value="23" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="android-compileSdkVersion" value="34" />
    <preference name="AndroidXEnabled" value="true" />

    <plugin name="cordova-plugin-camera" spec="^8.0.0">
        <variable name="ANDROIDX_CORE_VERSION" value="1.6.+" />
    </plugin>
    <plugin name="cordova-plugin-filepath" spec="^1.6.0" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />

</widget>